#wrapper {
	display: flex;
	flex-direction: column;
}

.col-left,
.col-right {
	display: none;
	@media $medium {
		display: flex;
		flex-direction: column;
		min-width: 10%
	}
	@media $large {
		width: 20%;
	}
}

.col-cent {
	width: 100%;
	@media $small {
		display: flex;
	}
	@media $medium {
		width: 80%;
		margin: 0 auto;
	}
	@media $large {
		width: 60%;
	}
}