#wrapper {
	display: flex;
	flex-direction: column;
}

.col-left,
.col-right {
	min-width: 20%;
	display: none;
	background-color: red;
	@media $small {
		display: flex;
		flex-direction: column;
	}
}

.col-cent {
	width: 100%;
	@media $small {
		display: flex;
		width: 60%;
		margin: 0 auto;
	}
}