@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300,700);

$font-main: Lato, Helvetica, Arial, sans-serif;
$font-weight-light:		300;
$font-weight-normal:	400;
$font-weight-bold:		600;

$font-size-large:	1.8rem;
$font-size-medium:	1.4rem;
$font-size-small:	1rem;

$red:			#f93849;
$purple:		#432261;
$blue:			#81bef7;
$dark-grey:		#141414;
$medium-grey:	#e5e5e5;
$light-grey:	#fafaf9;

$small:		screen and (min-width:600px);
$medium:	screen and (min-width:900px);
$large:		screen and (min-width:1200px);

$container-default-width:	80%;
$container-max-width:		1200px;

$small-side-padding: 2rem;

$link-transition-duration: 0.5s;