#actions {
	margin-bottom: 150px;
	@media $small {
		margin-bottom: 50px;
		display: flex;
	}
	
	img.arrow {
		max-width: 60%;
		align-self: center;
		margin-top: 55%;
	}

}

#actions-content {
	display: flex;
	flex-direction: column;
	
	.actions-stripe {
		margin-top: 5rem;
		width: 100%;
		height: 6px;
		position: relative;
		background: url(/img/actions-stripe.svg);
		z-index:250;
	}

	.actions-teaser {
		width: 270px;
		height: 202px;
		background-image: url(/img/actions-teaser-small.svg);
		margin: -84px auto 0 auto;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

		@media $large {
			background-image: url(/img/actions-teaser-large.svg);
		}
		
		h2 {
			margin: -2rem 0 0 5rem;
			color: white;

			span {
				font-size: 115%;
			}
		}

	}

} /* actions-content */

#actions-slider {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#actions-slider-content {

	@media $small {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		min-height: 400px;
	}


		img {
			margin: 100px auto 50px auto;
			@media $small {
				margin: 0;		
			}
		}

		h2 {
			font-size: 150%;
			text-align: center;
			@media $small {
				font-size: 200%;
				line-height: 110%;
			}
	} /* h2 */
}




