#career {
}

#career-container {
	@media $small {
	display: flex;
	flex-direction: column;
	}
	
	.career {
		margin-left: 30%;
		border-bottom: 2px dotted $dark-grey;
		margin-right: $small-side-padding;
	}

	h2 {
		text-align: right;
	}

	h3.section-header {
		margin: 0 0 2rem 4rem;
		line-height: 2rem;
	}

	.openings {
		margin: 0 $small-side-padding;
		@media $small {
			display: flex;
			justify-content: space-between;
		}

		.position {
			padding-left: 2rem;
			border-left: 2px dotted $dark-grey;
			@media$small {
			margin: 2rem 0 0 0;
			width: 45%;
			
			}

			p {
				margin-bottom:0;
			}
		} /* position */
	} /* openings */
} /* career-content */

.tribal {
	margin: 5rem auto 5rem auto;
	width: 300px;
}

.career-stripe {
	width: 100%;
	height: 7px;
	position: relative;
	background-image: url(/img/career-stripe.svg);
	z-index:250;
	margin-bottom: 3rem;

	.career-header-icon {
		width: 208px;
		height: 212px;
		position: absolute;
		margin-top: -80px;
		margin-left: 15px;
		background-image: url(/img/career-header-icon.svg);
		background-repeat: no-repeat;
	}
	
	h2 {
		position: absolute;
		top: 85px;
		left: 40px;
		transform: rotate(32deg);
		color: $blue;
	}
} /* career-stripe */
