$input-margin: 0px;

#feedback {
	margin: 5rem $small-side-padding 5rem $small-side-padding;
	h2 {
		margin-bottom: 3rem;
	}

} /* section */

#feedback-container {
	width: 100%;
		
	form {
		width: 100%;
		text-align: center;
		@media $small {
			text-align: left;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	.form-column {
	}

	fieldset {
		display: block;
		margin: 0 auto;
		border: none;
	}

	label {
		display: block;
		margin: 10px 0 0 5px;
	}
	

	textarea {
		resize: none;
		vertical-align: top;
  		border: 1px solid transparent;
		background-image: url(/img/background-textarea.svg);
		background-repeat: no-repeat;
		background-position: center;
		padding:10px 15px 15px 25px;
	}
	
	input {
  		border: 1px solid transparent;
		background-image: url(/img/background-input.svg);
		background-repeat: no-repeat;
		background-position: center;
		padding:10px 15px 15px 25px;
	}

}