#partners {

	margin: 3rem $small-side-padding;

	.partners-container {
		display: flex;
		
	}

	img.partners {
		display: inline-block;
		margin: 0 5px -2px 0;
		height: 18px;
	}

	ul.partner {
		margin: 3rem 0 0 0;
		padding:0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
		li {			
			img {
				height: 75px;
				width: 120px;
				margin: 0 5rem 2rem 2rem;
				@media $large {
					width: 100px;

				}
			}
		} /* li */
	} /* partner */
	img {

		height: 8px;
		margin: 5rem auto 0 auto;
	}
} /* section */