#shops {
	margin-bottom: 15rem;
}

#shops-container {
	@media $small {
		display: flex;
		flex-direction: column;
	}
} /* shops-content */

.shops-stripe {
	width: 100%;
	height: 6px;
	background-image: url(/img/shops-stripe.svg);
	z-index:250;
	position: relatve;
	margin-bottom: 5rem;

	.shops-header-icon {
		width: 260px;
		position: absolute;
		height: 110px;
		margin-top: -80px;
		margin-left: 15px;
		background-image: url(/img/shops-header-icon.svg);
		background-repeat: no-repeat;
	}


	h2 {
		position: absolute;
		top: 65px;
		left: 105px;
		color: $purple;
		font-weight: $font-weight-light;
	}
} /* shops-stripe */

.address-container {
	text-align: center;
	@media $small {
		text-align: left;
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;
	}
	
	address {
		margin: 2rem 0;
		line-height: 4rem;
		@media $small {
			font-style: normal;
			margin: 1rem 0;
			line-height: 3rem;
		}


		a {
			display: inline-block;
			background-color: $purple;
			text-decoration: none;
			padding: 0 20px;
			border-radius: 5px;
			color: white;
			margin-top: 1rem;

			@media $small {
				margin-top: 0;
				color: inherit;
				display: inline;
				background-color: transparent;
				padding: 0;
			}
		}

	} /* address */ 

} /* address container */

.shop-selector {
	display: block;
	margin: 25px;

	@media $small {
		margin: 0;
	}
} /* shop-selector */

#address {
	img {
		height:18px;
		display: inline;
		margin: 0 7px -3px 0;
	}
	
	svg {
		width: 18px;
		height: 18px;
		margin: 0 0 -3px 0;
	}

	.phone-stroke {
		stroke:white;
		@media $small {
			stroke: #333;
		} 
	}

} /* address */

#gMap {
	height: 360px;
	background-color: $red;
}

#shop-photos {
	display: flex;
}

.shop-photo {
	height: 135px;
	flex-basis:25%;
	border: 1px solid $red;
}