#footer {
	margin-top: 5rem;
	min-height:200px;
	background-image: url(/img/footer-wave.svg), url(/img/footer-bottom.svg);
	background-size: 1%, 100%;
	background-repeat: repeat-x, no-repeat;
	background-position: top, bottom;
} /* footer */

#footer-container {
	position: relative;
	height: 100%;
	@media $small {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
} /* footer-container */

.fish {
	position: absolute;
	width: 260px;
	top: -35px;
}

.footer-panel {
	width: 60%;
	min-width: 450px;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

	nav {
		display: none;
		@media $medium {
			display: flex;
			width: 100%;
		}

		ul {
			width: 100%;
			padding: 0;
			list-style-type: none;
			display: flex;
			justify-content: space-between;
		}
	} /* nav */
	
	.footer-content-bottom {
		width: 100%;
		text-align: center;
		margin-top: 120px;
		@media $small{ 
			margin-top: inherit;
			display: flex;
			justify-content: space-between;
		}
	}

	.social {
		@media $small {
			display: flex;
		}

		img {
			display: inline;
			width: 30px;
			margin: 0 0 15px 15px;

			@media $small {
				display: block;
			}

		}
	}

} /* footer-panel */
