#header {
	width: 100%;
	position: fixed;
	z-index: 255;

	@media $small {
	display: flex;
	width: 100%;
	}

	.col-left {
		@media $medium {
			display: flex;
		}
		
		img {
			display: block;
			height: 74px;
			margin-left: auto;
		} /* img */

	} /* col-left */


	.col-right {
		background-image: url(/img/header-stripe.png);
		background-repeat: repeat-x;
		background-position: top right;

		img {
			height: 52px;
			margin-left: auto;
		}

	} /* col right */

		
	nav.navbar-lrg {
		display: block;
		width:50%;
		height: 50px;
		float: right;
		background-image: url(/img/header-stripe.png);
		background-repeat: repeat-x;
		position: relative;
		@media $small {
			height: auto;
			float: none;
			display: flex;
			justify-content: flex-end;
			flex-grow: 1;
		}
	} /* navbar-lrg */

	.burger {
		width: 36px;
		height: 36px;
		position: absolute;
		right: 10px;
		top: 6px;
		background-image: url(/img/icon-burger.svg);
		background-size: 100%;


		@media $medium {
			display: none;
		}
	}

	ul.navbar-lrg {
		display: none;
		@media $medium {
			display: flex;
			list-style: none;
		}
	}
	
	li.navbar-lrg {
		margin-left: 25px;
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: $font-weight-bold;
	}

	img.logo {
		width: 50%;
		display: inline;
		@media $small {
			width: auto;
			height: 74px;
		}	
	}

} /* header */






